In [13]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.cluster import KMeans 
%matplotlib inline

In [25]:
#load data
quart = pd.read_excel('./Dados/raman.xlsx', sheet_name='quartzo') #quartzo 45 ccw 
gold = pd.read_excel('./Dados/raman.xlsx', sheet_name='gold') #gold 785 nm
kh2po4 = pd.read_excel('./Dados/raman.xlsx', sheet_name='KH2PO4')#KH2PO4 (Potassium Dihydrogen Phosphate R120165) 780 nm
iron = pd.read_excel('./Dados/raman.xlsx', sheet_name='iron')#Iron 785 nm
diamond = pd.read_excel('./Dados/raman.xlsx', sheet_name='diamante')#diamante 45 ccw

In [28]:
quart

      Raman Shift (cm-1)  Intensity
0                 47.490      0.000
1                 48.899      4.203
2                 50.308     39.490
3                 51.717    107.876
4                 53.126    150.753
...                  ...        ...
1146            1512.858     27.670
1147            1514.018     10.362
1148            1515.177      0.958
1149            1516.336      0.163
1150            1517.495      0.000

[1151 rows x 2 columns]