In [1]:
import pandas as pd
import numpy as np
import scipy as sc
import matplotlib.pyplot as plt

In [2]:
# Here pandas library will get the data from the .csv files from /Data/ Path
gold532 = pd.read_csv(r'../Data/gold532.csv')
gold785 = pd.read_csv(r'../Data/gold785.csv')

cooper532 = pd.read_csv(r'../Data/cooper532.csv')
cooper785 = pd.read_csv(r'../Data/cooper785.csv')

iron532 = pd.read_csv(r'../Data/iron532.csv')
iron785 = pd.read_csv(r'../Data/iron785.csv')

In [3]:
len(iron532)

2398

In [4]:
len(iron785)

2356

In [5]:
len(cooper785)

2268

In [6]:
len(cooper532)

2268

In [7]:
len(gold785)

2266

In [8]:
len(gold532)

2323

In [153]:
# GOLD
gold785.columns = ['I(785)','R(785)']
gold532.columns = ['I(532)','R(532)']
word = pd.Series([0]*2266, name='Mineral')
gold = pd.concat([gold785,gold532[:2266],word],axis=1)
gold

         I(785)    R(785)     I(532)    R(532)  Mineral
0      140.3041  7484.741   180.5173  3177.573        0
1      140.7862  7609.544   180.9994  3171.689        0
2      141.2683  7733.641   181.4815  3171.271        0
3      141.7504  7841.302   181.9637  3176.253        0
4      142.2325  7937.369   182.4458  3184.598        0
...         ...       ...        ...       ...      ...
2261  1230.3700  3434.938  1270.5840  6934.427        0
2262  1230.8520  3431.773  1271.0660  6944.269        0
2263  1231.3340  3401.855  1271.5480  6947.769        0
2264  1231.8160  3395.555  1272.0300  6942.078        0
2265  1232.2980  3414.566  1272.5120  6935.435        0

[2266 rows x 5 columns]

In [154]:
# IRON
iron785.columns = ['I(785)','R(785)']
iron532.columns = ['I(532)','R(532)']
word = pd.Series([1]*2266, name='Mineral')
iron = pd.concat([iron785[:2266],iron532[:2266],word],axis=1)
iron

         I(785)    R(785)     I(532)    R(532)  Mineral
0      107.5201  291.8514   159.3042  1041.511        1
1      108.0023  307.6280   159.7863  1064.057        1
2      108.4844  331.1480   160.2684  1081.836        1
3      108.9665  354.2514   160.7505  1083.984        1
4      109.4486  373.5468   161.2326  1072.638        1
...         ...       ...        ...       ...      ...
2261  1197.5860  686.3655  1249.3700  3126.399        1
2262  1198.0680  688.7268  1249.8530  3147.101        1
2263  1198.5500  691.5933  1250.3350  3151.008        1
2264  1199.0320  700.5916  1250.8170  3138.981        1
2265  1199.5140  703.7896  1251.2990  3141.768        1

[2266 rows x 5 columns]

In [155]:
# COOPER
cooper785.columns = ['I(785)','R(785)']
cooper532.columns = ['I(532)','R(532)']
word = pd.Series([2]*2266, name='Mineral')
cooper = pd.concat([cooper785[:2266],cooper532[:2266],word],axis=1)
cooper

         I(785)    R(785)     I(532)    R(532)  Mineral
0      190.9469  2065.147   190.9469  2065.147        2
1      191.4290  2057.434   191.4290  2057.434        2
2      191.9111  2055.075   191.9111  2055.075        2
3      192.3932  2059.905   192.3932  2059.905        2
4      192.8754  2068.416   192.8754  2068.416        2
...         ...       ...        ...       ...      ...
2261  1281.0120  4386.449  1281.0120  4386.449        2
2262  1281.4940  4378.527  1281.4940  4378.527        2
2263  1281.9760  4378.564  1281.9760  4378.564        2
2264  1282.4580  4386.593  1282.4580  4386.593        2
2265  1282.9400  4390.734  1282.9400  4390.734        2

[2266 rows x 5 columns]

In [233]:
data = pd.concat([gold[600:1000], iron[200:400], cooper[:400]],axis=0)
data

       I(785)    R(785)    I(532)    R(532)  Mineral
600  429.5741  4276.895  469.7874  5118.424        0
601  430.0562  4302.425  470.2696  5147.451        0
602  430.5383  4316.919  470.7517  5159.998        0
603  431.0204  4313.686  471.2338  5152.179        0
604  431.5025  4301.795  471.7159  5139.819        0
..        ...       ...       ...       ...      ...
395  381.3828  2376.637  381.3828  2376.637        2
396  381.8650  2388.700  381.8650  2388.700        2
397  382.3471  2396.371  382.3471  2396.371        2
398  382.8292  2390.845  382.8292  2390.845        2
399  383.3113  2375.608  383.3113  2375.608        2

[1000 rows x 5 columns]

In [318]:
x = data.drop("Mineral", axis=1)
y = data["Mineral"]


from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y,test_size=0.5)
print(X_train.shape)
print(y_test.shape)

(500, 4)
(500,)

In [319]:
from sklearn.neural_network import MLPClassifier

In [320]:
mlp = MLPClassifier(max_iter=500, activation='relu')
mlp

MLPClassifier(max_iter=500)

In [321]:
mlp.fit(X_train,y_train)

MLPClassifier(max_iter=500)

In [322]:
pred = mlp.predict(X_test)
pred

array([2, 2, 0, 2, 2, 1, 1, 2, 1, 2, 0, 0, 0, 2, 0, 0, 2, 2, 0, 1, 1, 2,
       2, 1, 0, 2, 0, 0, 0, 0, 1, 2, 0, 1, 0, 0, 0, 1, 2, 2, 1, 0, 2, 2,
       2, 0, 0, 2, 1, 2, 1, 2, 0, 0, 0, 2, 0, 2, 0, 1, 0, 2, 0, 2, 0, 0,
       2, 2, 2, 2, 2, 0, 1, 2, 2, 1, 0, 2, 2, 0, 0, 2, 0, 2, 1, 0, 2, 0,
       1, 2, 2, 1, 0, 2, 2, 2, 0, 0, 0, 2, 0, 1, 2, 0, 0, 2, 2, 0, 0, 2,
       0, 2, 1, 2, 2, 0, 0, 2, 2, 1, 0, 2, 2, 0, 0, 0, 0, 2, 0, 2, 1, 2,
       2, 0, 0, 2, 0, 0, 0, 1, 1, 1, 1, 0, 0, 2, 2, 0, 2, 0, 1, 0, 1, 2,
       1, 2, 1, 0, 0, 0, 0, 0, 2, 0, 2, 1, 2, 0, 0, 0, 1, 0, 0, 2, 2, 0,
       0, 2, 0, 0, 2, 1, 1, 2, 0, 2, 0, 0, 1, 2, 2, 2, 2, 2, 0, 1, 2, 1,
       2, 0, 2, 0, 0, 0, 0, 2, 0, 2, 1, 0, 0, 2, 2, 0, 0, 1, 0, 2, 2, 0,
       1, 2, 2, 1, 0, 2, 1, 1, 1, 2, 0, 2, 0, 0, 2, 0, 0, 0, 1, 2, 1, 2,
       0, 0, 0, 1, 1, 1, 2, 0, 0, 2, 2, 2, 2, 0, 0, 2, 2, 0, 2, 2, 0, 2,
       1, 0, 1, 2, 0, 2, 2, 0, 1, 2, 2, 0, 1, 2, 1, 0, 1, 0, 2, 0, 2, 2,
       0, 2, 0, 1, 0, 0, 2, 0, 0, 0, 2, 0, 2, 2, 0, 0, 0, 1, 0, 0, 2, 0,
       0, 0, 2, 2, 2, 1, 0, 0, 0, 1, 2, 0, 1, 0, 2, 2, 1, 2, 0, 1, 0, 1,
       0, 2, 1, 0, 2, 0, 2, 0, 0, 2, 2, 2, 2, 0, 2, 2, 1, 2, 2, 0, 2, 0,
       0, 1, 2, 2, 1, 0, 2, 2, 2, 1, 2, 2, 0, 0, 0, 0, 2, 2, 1, 0, 2, 2,
       0, 1, 0, 0, 2, 2, 2, 2, 2, 0, 2, 1, 2, 0, 2, 2, 0, 2, 0, 0, 0, 2,
       0, 2, 2, 2, 2, 0, 0, 2, 2, 2, 1, 0, 1, 2, 2, 2, 2, 0, 2, 2, 2, 0,
       2, 1, 2, 0, 0, 1, 0, 2, 2, 0, 0, 2, 0, 0, 0, 0, 0, 1, 0, 0, 2, 1,
       2, 2, 2, 0, 0, 0, 1, 0, 2, 1, 0, 2, 0, 1, 0, 2, 1, 2, 1, 2, 2, 2,
       1, 0, 2, 0, 0, 2, 0, 0, 2, 0, 2, 2, 1, 2, 2, 2, 1, 0, 0, 0, 0, 0,
       1, 2, 2, 1, 0, 0, 1, 2, 0, 1, 2, 0, 0, 2, 0, 2], dtype=int64)

In [323]:
X_test

       I(785)    R(785)    I(532)    R(532)
397  382.3471  2396.371  382.3471  2396.371
345  357.2770  2313.813  357.2770  2313.813
810  530.8186  4147.403  571.0320  5727.215
6    193.8396  2073.536  193.8396  2073.536
197  285.9238  2198.240  285.9238  2198.240
..        ...       ...       ...       ...
680  468.1434  4219.031  508.3568  5347.639
786  519.2478  4199.076  559.4612  5636.174
371  369.8120  2353.332  369.8120  2353.332
861  555.4065  4054.525  595.6199  5805.195
214  294.1198  2238.459  294.1198  2238.459

[500 rows x 4 columns]

In [333]:
from sklearn.metrics import classification_report,confusion_matrix

confusion_matrix(y_test,pred)

array([[206,   0,   0],
       [  0,  89,   3],
       [  0,   0, 202]], dtype=int64)

In [335]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       206
           1       1.00      0.97      0.98        92
           2       0.99      1.00      0.99       202

    accuracy                           0.99       500
   macro avg       1.00      0.99      0.99       500
weighted avg       0.99      0.99      0.99       500